.container {
  width: 100%;
  padding: 16px 0;
  color: white;
  background: rgb(50, 50, 93);
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
.brand {
  margin: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.trademark {
  width: 32px;
  height: 32px;
  margin: 0 4px 0 0;
}
.name {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-transform: up;
  margin: 0;
  padding: 0;
}